@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');
body{ 
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    font-size: 18px;
    color: #2d3950;
}

$primaryColor: #2d3950;
$secondaryColor:#15a4fa;
$bgColor: #F6F9F9;
%gradient{
background: rgb(72,186,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(72,186,255,1) 50%, rgba(72,186,255,1) 50%, rgba(72,186,255,1) 50%, rgba(95,195,255,1) 50%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(72,186,255,1) 50%,rgba(72,186,255,1) 50%,rgba(72,186,255,1) 50%,rgba(95,195,255,1) 50%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(72,186,255,1) 50%,rgba(72,186,255,1) 50%,rgba(72,186,255,1) 50%,rgba(95,195,255,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48baff', endColorstr='#5fc3ff',GradientType=1 ); /* IE6-9 */}
%transition{
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -mox-transition: all 0.3s linear;
}

.navbar{
    padding: 30px 0;
    background: $bgColor;
    .navbar-nav{

        .nav-item{

            .nav-link{
                color: $primaryColor;
                font-weight: 600;
                margin-left: 20px;
                @extend %transition;

                &:hover{
                    color: $secondaryColor;
                    transform: scale(1.1);
                }
            }
        }
    }
}

.banner-section{
    background-image: url(../images/Strict.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    .click{
        position: absolute;
        bottom: 15%;
        font-size: 30px;
        left: 50%;
        transform: translate(-50%);
        color: #fff;
    }
    .row{
        min-height: 85vh;
        align-items: center;
        color: #fff;
        justify-content: center;
        text-align: center;
        h1{
            font-size: 120px;
            text-transform: uppercase;
            font-weight: 600;
        }
        span{
            background: #15a4fa;
            display: block;
            height: 3px;
            width: 100%;
            margin-bottom: 20px;
        }
        p{
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }
}

.btn-custom{
    border: 1px solid $secondaryColor;
    color: #fff;
    padding: 13px 30px;
    @extend %transition;

    &:hover{
        background: $secondaryColor;
        color: #fff;
    }
}

.about-section{
    background: $bgColor;
    text-align: center;
    padding: 50px 0;
    h2{
        font-size: 38px;
    }
    p{
        margin-top: 20px;
    }
}

.service-section{

    .service{
        padding: 100px 0;
        text-align: center;
        .icon{
            @extend %gradient;
            width: 100px;
            height: 100px;
            color: #fff;
            font-size: 50px;
            text-align: center;
            line-height: 100px;
            margin: auto;
            i{
                text-shadow: 1px 1px 0px #2d3981;
            }
        }
        h2{
            font-size: 23px;
            font-weight: 600;
            margin: 20px 0;
        }
        p{

        }
    }
}


.showcase-section{
    padding: 50px 0;
    background-color: $bgColor;
    .showcase-content{
        margin-bottom: 50px;
        h1{

        }
        p{
            color: #788796;
            font-size: 16px;
        }
    }
    .img-content{
        img{
            margin-bottom: 30px;
        }
    }
}

.contact-section{
    background-image: url(../images/contact.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #00266fc7;
    padding: 50px 0;

    .contact-content{
        color: #fff;
        margin-bottom: 50px;
        h1{
            
        }
        P{
            color: #788796;
            font-size: 16px;
        }   
    }
    input{
        margin-bottom: 20px;
        padding: 30px 20px;
        background: transparent;
    }
    textarea{
        margin-bottom: 20px;
        padding: 30px 20px;
        background: transparent;
    }
    .form-check{
        color: #fff;
    }
    .btn-contact{
        padding: 10px 40px;
    }
}

footer{
    background-color: $bgColor;
    padding: 40px 0;
    .footer-text{
        
        p{
            margin-bottom: 0px;
        }
    }
    .icon{
        
        i{
            background: $secondaryColor;
            color: #fff;
            padding: 10px;
        }
    }
}